[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
whitenoise = "*"
pillow = "*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.13"
