<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <title>1721 Battery Log</title>
  <meta charset="UTF-8" />

  <script src="{% static 'js/battery_format.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>
    <h1>1721 Battery Management</h1>
    <nav>
      {% if user.is_authenticated %}
      <span>Hello, {{ user.first_name }}</span>
      <a href="{% url 'submit_entry' %}">Submit New Entry</a>
      <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
        Log Out
      </a>
      <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
      </form>
      {% else %}
      <span>You are not logged in.</span>
      <a href="{% url 'login' %}">Log In</a>
      {% endif %}
      {% if bad_key %}
      <div style="color: red; font-weight: bold;">
        Security Token not found on server! Not recommended to log in.
      </div>
      {% endif %}
    </nav>
  </header>

  <hr>
  <table>
    <thead>
      <th scope="col">DATE</th>
      <th scope="col">USER</th>
      <th scope="col">BATTERY</th>
      <th scope="col">READY</th>
      <th scope="col">CONDITION</th>
      <th scope="col">CHARGE</th>
      <th scope="col">RINT</th>
      <th scope="col">MEMO</th>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <td class="date">{{ entry.date }}</td>
        <td class="user">{{ entry.user }}</td>
        <td class="battery">
          <a href="{% url 'battery_detail' entry.battery %}">{{ entry.battery }}</a>
        </td>
        <td class="ready">{{ entry.ready }}</td>
        <td class="condition">{{ entry.condition }}</td>
        <td class="charge">{{ entry.charge }}</td>
        <td class="rint">{{ entry.rint }}</td>
        <td class="memo">{{ entry.memo }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <style>
    table {
      border-collapse: collapse;
    }

    td {
      border: 1px solid black;
      padding: 8px 30px;
    }
  </style>

  {% if message %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %}

  <footer>
    <a href="https://github.com/FRC-1721/battery.frc1721.org">Version: {{ version }}</a>
  </footer>
</body>

</html>